[Unit]
Description=rflink-mqtt2mqtt
Wants=mosquitto.service
After=network.target mosquitto.service
StartLimitIntervalSec=0

[Service]
User=rflink-mqtt2mqtt
Group=rflink-mqtt2mqtt
WorkingDirectory=/opt/rflink-mqtt2mqtt
Type=simple
Environment="PYTHONUNBUFFERED=1"
ExecStart=/opt/rflink-mqtt2mqtt/rflink-mqtt2mqtt.py
Restart=always
RestartSec=10
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
